<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link " href="">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Mes adresse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Modifier mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me deconnecter</a>
    </li>
</ul>