{% extends 'base.html.twig' %}

{% block title %}votre espace prive{% endblock %}

{% block body %}
    <div class="container my-5 account">
        <h1>Espace prive </h1>
        <div class="row">
            <div class="col-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-9">
                <h3>Modifier votre mot de passe</h3>
                {{ form(modifyPasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
