{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container form my-5">
        <h1>Inscription</h1>
        {{ form(registerForm) }}

        <br>
        <p>Vous avez de compte? <a href="{{ path('app_login') }}">Connecter-vous</a></p>

    </div>

{% endblock %}
