{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}
{% block icon %}
    <link rel="icon" type="image/png" size="32" href="https://img.icons8.com/3d-fluency/1500w/shopping-bag.png" data-hid="63b4eb3">
{% endblock %}

{% block body %}

    <div class="container py-5 small-container">
        <h1>Ma commande</h1>
        {{ form_start(deliveryForm) }}
        {{ form_row(deliveryForm.addresses) }}
        <hr>
        {{ form_row(deliveryForm.carriers) }}
        {{ form_end(deliveryForm) }}

    </div>
{% endblock %}
